.circle {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: yellow;
    position: relative;
}

#position {
    padding: 0;
    margin: 10px 0;
}

#field {
    display: inline-grid;
}

.blank {
    background-color: #748af6;
}

.square {
    display: block;
    padding: 1px;
}

.wall {
    background-color: blue;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

button {
    background-color: #2D4671;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px;
}

body {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
